In [1]:
import pandas as pd
import numpy as np

C:\Users\augus\AppData\Local\Temp\ipykernel_8904\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df_2015 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2015.xlsx')
df_2016 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2016.xlsx')
df_2017 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2017.xlsx')
df_2018 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2018.xlsx')
df_2019 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2019.xlsx')
df_2020 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2020.xlsx')
df_2021 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2021.xlsx')
df_2022 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2022.xlsx')
df_2023 = pd.read_excel(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\RawDataSet\EXP 2023.xlsx')

In [4]:
df_2015

,COCHIN CHAMBER OF COMMERCE AND INDUSTRY,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,CONTAINER MOVEMENT-EXPORT,NaN,NaN,NaN
1,01-JANUARY-2015 TO 31-DECEMBER-2015,NaN,NaN,NaN
2,CIN U91110KL1938NPL001413,NaN,NaN,NaN
3,Exporter,Product,Sail Date.,QTY.(KGS)
4,2M INDUSTRIAL ENTERPRISES LLP,SPARES,22-08-2015,10260
...,...,...,...,...
64752,ZUHANA EXPORTS,COTTON GOODS,29-11-2015,1979
64753,ZUHANA EXPORTS,COTTON GOODS,03-12-2015,2799
64754,ZUHANA EXPORTS,HANDICRAFTS,15-04-2015,5614
64755,TOTAL,,,197008
64756,GRAND TOTAL,,,1066213841

In [6]:
import pandas as pd

# Assuming df_2015 to df_2023 are your DataFrames
# You can adjust the names according to your actual DataFrame names

# List of your DataFrames
dfs = [df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023]

# Remove first four rows from each DataFrame
for df in dfs:
    df.drop(range(4), inplace=True)

# Now, df_2015 to df_2023 have their first four rows removed

In [8]:
dfs

[        COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4                 2M INDUSTRIAL ENTERPRISES LLP
 5      TOTAL
 6                                  5P HORTIPLEX
 7      TOTAL
 8                                A & B TOOLLERS
 ...                                         ...
 64752                            ZUHANA EXPORTS
 64753                            ZUHANA EXPORTS
 64754                            ZUHANA EXPORTS
 64755  TOTAL
 64756  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                              SPARES  22-08-2015       10260
 5                                                       10260
 6                         LIVE PLANTS  09-09-2015       20000
 7                                                       20000
 8                         MACHINERIES  18-12-2015        2360
 ...                               ...         ...         ...
 64752                    COTTON GOODS  29-11-2015        1979
 64753                    COTTON GOODS  03-12-2015        2799
 64754                     HANDICRAFTS  15-04-2015        5614
 64755                                                  197008
 64756                                              1066213841

 [64753 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4              2F WIND POWER COIMBATORE PVT LTD
 5              2F WIND POWER COIMBATORE PVT LTD
 6      TOTAL
 7                 2M INDUSTRIAL ENTERPRISES LLP
 8                 2M INDUSTRIAL ENTERPRISES LLP
 ...                                         ...
 66941                            ZUHANA EXPORTS
 66942                            ZUHANA EXPORTS
 66943                            ZUHANA EXPORTS
 66944  TOTAL
 66945  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                   AUTOMOBILES PARTS  20-01-2016       46688
 5                               SHAFT  06-01-2016       10290
 6                                                       56978
 7                              SPARES  18-07-2016        5400
 8                              SPARES  04-07-2016       10260
 ...                               ...         ...         ...
 66941                    COTTON GOODS  01-09-2016        5067
 66942                    COTTON GOODS  08-09-2016        6976
 66943                    COTTON GOODS  05-12-2016        7301
 66944                                                  154499
 66945                                              1199967172

 [66942 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4              2F WIND POWER COIMBATORE PVT LTD
 5      TOTAL
 6                 2M INDUSTRIAL ENTERPRISES LLP
 7                 2M INDUSTRIAL ENTERPRISES LLP
 8                 2M INDUSTRIAL ENTERPRISES LLP
 ...                                         ...
 70477                            ZUHANA EXPORTS
 70478                            ZUHANA EXPORTS
 70479                            ZUHANA EXPORTS
 70480  TOTAL
 70481  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                   AUTOMOBILES PARTS  31-12-2017        8520
 5                                                        8520
 6                   AUTOMOBILES PARTS  25-11-2017       13025
 7                   AUTOMOBILES PARTS  27-08-2017       25509
 8                   AUTOMOBILES PARTS  12-01-2017       22420
 ...                               ...         ...         ...
 70477                 COTTON GARMENTS  21-08-2017        7257
 70478                 COTTON GARMENTS  26-02-2017        4081
 70479                 COTTON GARMENTS  22-03-2017        7146
 70480                                                   78831
 70481                                              1314710939

 [70478 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4              12D APPARELS&CORPORATE SUPPLIERS
 5      TOTAL
 6                 2M INDUSTRIAL ENTERPRISES LLP
 7      TOTAL
 8                                A & B TOOLLERS
 ...                                         ...
 47632                            ZUHANA EXPORTS
 47633                            ZUHANA EXPORTS
 47634                            ZUHANA EXPORTS
 47635  TOTAL
 47636  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                     COTTON GARMENTS  01-01-2018         800
 5                                                         800
 6                   AUTOMOBILES PARTS  25-03-2018       12818
 7                                                       12818
 8                              SPARES  07-12-2018        3060
 ...                               ...         ...         ...
 47632                 COTTON GARMENTS  21-11-2018        5212
 47633                    COTTON GOODS  31-12-2018        2989
 47634                     FOOD STUFFS  16-04-2018        4645
 47635                                                   39193
 47636                                              1239796977

 [47633 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4              12D APPARELS&CORPORATE SUPPLIERS
 5      TOTAL
 6                             2M COMPONENTS LLP
 7                             2M COMPONENTS LLP
 8                             2M COMPONENTS LLP
 ...                                         ...
 67297  TOTAL
 67298                        ZYFI INTERNATIONAL
 67299                        ZYFI INTERNATIONAL
 67300  TOTAL
 67301  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                     COTTON GARMENTS  22-10-2019         251
 5                                                         251
 6                              SPARES  18-06-2019       21520
 7                              SPARES  13-05-2019       12578
 8                              SPARES  22-08-2019       13903
 ...                               ...         ...         ...
 67297                                                   12021
 67298                        COCONUTS  09-04-2019       27000
 67299                        COCONUTS  26-03-2019       27000
 67300                                                   54000
 67301                                              1217942895

 [67298 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4                            (K)SHETHRA EXPORTS
 5      TOTAL
 6                             2M COMPONENTS LLP
 7                             2M COMPONENTS LLP
 8      TOTAL
 ...                                         ...
 44601  TOTAL
 44602                        ZYMBIONT SOLUTIONS
 44603                        ZYMBIONT SOLUTIONS
 44604  TOTAL
 44605  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                     COTTON GARMENTS  11-12-2020        2040
 5                                                        2040
 6                    ELECTRONIC GOODS  05-03-2020       11647
 7                    ELECTRONIC GOODS  10-03-2020         885
 8                                                       12532
 ...                               ...         ...         ...
 44601                                                   15457
 44602                   GENERAL CARGO  05-06-2020         425
 44603              HOUSEHOLD ARTICLES  05-11-2020        7700
 44604                                                    8125
 44605                                              1227156526

 [44602 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4                          MULTI FLOOR EXPORTS
 5      TOTAL
 6                            (K)SHETHRA EXPORTS
 7      TOTAL
 8                       11TH ZENSE FOODS P.LTD.
 ...                                         ...
 54136                            ZUHANA EXPORTS
 54137  TOTAL
 54138                           ZUSI INDUSTRIES
 54139  TOTAL
 54140  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                     COTTON GARMENTS  04-04-2021          94
 5                                                          94
 6                     COTTON GARMENTS  06-01-2021         104
 7                                                         104
 8                         FOOD STUFFS  19-08-2021        5950
 ...                               ...         ...         ...
 54136                 COTTON GARMENTS  04-10-2021        4007
 54137                                                   14067
 54138                        COCONUTS  07-08-2021       27950
 54139                                                   27950
 54140                                              1471044810

 [54137 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4                            1CAS 4 ENTERPRISES
 5      TOTAL
 6                       24X7  COOLING SOLUTIONS
 7      TOTAL
 8                             2M COMPONENTS LLP
 ...                                         ...
 66691                        ZUVA INTERNATIONAL
 66692  TOTAL
 66693                     ZYGON IMPORTS&EXPORTS
 66694  TOTAL
 66695  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                   DISPOSABLE RAZORS  14-04-2022         367
 5                                                         367
 6                         MACHINERIES  08-11-2022         859
 7                                                         859
 8                      ELEVATOR PARTS  04-01-2022        8272
 ...                               ...         ...         ...
 66691                             TEA  25-10-2022        4819
 66692                                                   37641
 66693                   WOOD PRODUCTS  19-11-2022        1000
 66694                                                    1000
 66695                                              1459030764

 [66692 rows x 4 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY  \
 4                             2M COMPONENTS LLP
 5                             2M COMPONENTS LLP
 6                             2M COMPONENTS LLP
 7      TOTAL
 8                2M LIFTS AND ESCALATORS P.LTD.
 ...                                         ...
 73594                     ZYGON IMPORTS&EXPORTS
 73595  TOTAL
 73596                              ZYLO EXPORTS
 73597  TOTAL
 73598  GRAND TOTAL

                            Unnamed: 1  Unnamed: 2  Unnamed: 3
 4                      ELEVATOR PARTS  13-03-2023       10845
 5                      ELEVATOR PARTS  07-02-2023       19584
 6                              SPARES  19-06-2023        6102
 7                                                       36531
 8                   AUTOMOBILES PARTS  10-05-2023       15945
 ...                               ...         ...         ...
 73594               ROSEWOOD PRODUCTS  26-04-2023        3564
 73595                                                    7948
 73596                   LEATHER GOODS  28-11-2023        4873
 73597                                                    4873
 73598                                              1514367931

 [73595 rows x 4 columns]]

In [9]:
for df in dfs:
    df.drop(df.columns[1:], axis=1, inplace=True)

In [10]:
dfs

[        COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4                 2M INDUSTRIAL ENTERPRISES LLP
 5      TOTAL
 6                                  5P HORTIPLEX
 7      TOTAL
 8                                A & B TOOLLERS
 ...                                         ...
 64752                            ZUHANA EXPORTS
 64753                            ZUHANA EXPORTS
 64754                            ZUHANA EXPORTS
 64755  TOTAL
 64756  GRAND TOTAL

 [64753 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4              2F WIND POWER COIMBATORE PVT LTD
 5              2F WIND POWER COIMBATORE PVT LTD
 6      TOTAL
 7                 2M INDUSTRIAL ENTERPRISES LLP
 8                 2M INDUSTRIAL ENTERPRISES LLP
 ...                                         ...
 66941                            ZUHANA EXPORTS
 66942                            ZUHANA EXPORTS
 66943                            ZUHANA EXPORTS
 66944  TOTAL
 66945  GRAND TOTAL

 [66942 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4              2F WIND POWER COIMBATORE PVT LTD
 5      TOTAL
 6                 2M INDUSTRIAL ENTERPRISES LLP
 7                 2M INDUSTRIAL ENTERPRISES LLP
 8                 2M INDUSTRIAL ENTERPRISES LLP
 ...                                         ...
 70477                            ZUHANA EXPORTS
 70478                            ZUHANA EXPORTS
 70479                            ZUHANA EXPORTS
 70480  TOTAL
 70481  GRAND TOTAL

 [70478 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4              12D APPARELS&CORPORATE SUPPLIERS
 5      TOTAL
 6                 2M INDUSTRIAL ENTERPRISES LLP
 7      TOTAL
 8                                A & B TOOLLERS
 ...                                         ...
 47632                            ZUHANA EXPORTS
 47633                            ZUHANA EXPORTS
 47634                            ZUHANA EXPORTS
 47635  TOTAL
 47636  GRAND TOTAL

 [47633 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4              12D APPARELS&CORPORATE SUPPLIERS
 5      TOTAL
 6                             2M COMPONENTS LLP
 7                             2M COMPONENTS LLP
 8                             2M COMPONENTS LLP
 ...                                         ...
 67297  TOTAL
 67298                        ZYFI INTERNATIONAL
 67299                        ZYFI INTERNATIONAL
 67300  TOTAL
 67301  GRAND TOTAL

 [67298 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4                            (K)SHETHRA EXPORTS
 5      TOTAL
 6                             2M COMPONENTS LLP
 7                             2M COMPONENTS LLP
 8      TOTAL
 ...                                         ...
 44601  TOTAL
 44602                        ZYMBIONT SOLUTIONS
 44603                        ZYMBIONT SOLUTIONS
 44604  TOTAL
 44605  GRAND TOTAL

 [44602 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4                          MULTI FLOOR EXPORTS
 5      TOTAL
 6                            (K)SHETHRA EXPORTS
 7      TOTAL
 8                       11TH ZENSE FOODS P.LTD.
 ...                                         ...
 54136                            ZUHANA EXPORTS
 54137  TOTAL
 54138                           ZUSI INDUSTRIES
 54139  TOTAL
 54140  GRAND TOTAL

 [54137 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4                            1CAS 4 ENTERPRISES
 5      TOTAL
 6                       24X7  COOLING SOLUTIONS
 7      TOTAL
 8                             2M COMPONENTS LLP
 ...                                         ...
 66691                        ZUVA INTERNATIONAL
 66692  TOTAL
 66693                     ZYGON IMPORTS&EXPORTS
 66694  TOTAL
 66695  GRAND TOTAL

 [66692 rows x 1 columns],
         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
 4                             2M COMPONENTS LLP
 5                             2M COMPONENTS LLP
 6                             2M COMPONENTS LLP
 7      TOTAL
 8                2M LIFTS AND ESCALATORS P.LTD.
 ...                                         ...
 73594                     ZYGON IMPORTS&EXPORTS
 73595  TOTAL
 73596                              ZYLO EXPORTS
 73597  TOTAL
 73598  GRAND TOTAL

 [73595 rows x 1 columns]]

In [11]:
result = pd.concat(dfs, axis=0)

# Save the result as a new CSV file
result.to_csv('join.csv', index=False)

In [12]:
df_jo=pd.read_csv(r"C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Code\Clean\join.csv")

In [13]:
df_jo

         COCHIN CHAMBER OF COMMERCE AND INDUSTRY
0                  2M INDUSTRIAL ENTERPRISES LLP
1       TOTAL
2                                   5P HORTIPLEX
3       TOTAL
4                                 A & B TOOLLERS
...                                          ...
556125                     ZYGON IMPORTS&EXPORTS
556126  TOTAL
556127                              ZYLO EXPORTS
556128  TOTAL
556129  GRAND TOTAL

[556130 rows x 1 columns]

In [14]:
# Assuming df_jo is your DataFrame
# You can adjust the name according to your actual DataFrame name

# Remove rows containing "TOTAL" and "GRAND TOTAL" in the "name" column
df_jo = df_jo[~df_jo['COCHIN CHAMBER OF COMMERCE AND INDUSTRY'].str.contains('TOTAL|GRAND TOTAL', case=False)]

# Now, df_jo doesn't contain rows with "TOTAL" or "GRAND TOTAL" in the "name" column

In [15]:
df_jo

       COCHIN CHAMBER OF COMMERCE AND INDUSTRY
0                2M INDUSTRIAL ENTERPRISES LLP
2                                 5P HORTIPLEX
4                               A & B TOOLLERS
5                               A & B TOOLLERS
7                                A HANDICRAFTS
...                                        ...
556121                      ZUVA INTERNATIONAL
556123                   ZYGON IMPORTS&EXPORTS
556124                   ZYGON IMPORTS&EXPORTS
556125                   ZYGON IMPORTS&EXPORTS
556127                            ZYLO EXPORTS

[520271 rows x 1 columns]

In [18]:

df_jo = df_jo.drop_duplicates(subset="COCHIN CHAMBER OF COMMERCE AND INDUSTRY")

df_jo = df_jo.dropna()

In [19]:
df_jo

       COCHIN CHAMBER OF COMMERCE AND INDUSTRY
0                2M INDUSTRIAL ENTERPRISES LLP
2                                 5P HORTIPLEX
4                               A & B TOOLLERS
7                                A HANDICRAFTS
10                              A ONE BUSINESS
...                                        ...
555987                          ZEN PACK INDIA
555996                            ZF WINDPOWER
556115                 ZJM EXPORTS AND IMPORTS
556117                            ZULI EXPORTS
556127                            ZYLO EXPORTS

[13556 rows x 1 columns]

In [ ]:
df_jo.to_csv('join.csv', index=False)